@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caprasimo&family=Montserrat:wght@600&family=Poppins:wght@500;600;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}
body{
    background: #FFF;
}
header{
    padding: 4% 6%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}
nav h1{
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}
nav li{
    margin-right: 20px;
    /* font-size: 16px; */
    font-weight: 600;
}
.menu-icon{
    height: 20px;
    display: none;
}
.search-inoc{
    height: 20px;
}
.cart-icon{
    height: 36px;
}
.banner{
    margin-top: 60px;
    display: flex;
    align-items: center;
}
.banner-title{
    color: #3A3A3A;
    font-size: 52px;
}
.banner-discription{
    color: #3A3A3A;
    font-weight: 600;
    margin: 20px 0;
}
.cmn-btn{
    display: flex;
    align-items: center;
    border-radius: 41px;
    background-color: #E02C6D;
    color: white;
    padding: 10px 24px;
    gap: 8px;
    border: none;
}
.cmn-btn:hover{
    background-color: white;
    color: #E02C6D;
    border: 1px solid #E02C6D;
}
.cmn-btn img{
    height: 24px;
    background-color: #E02C6D;
}
.banner-img{
    background-image: url('./images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.banner-img img{
    width: 100%;
}
.sponsur-add{
    margin: 40px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sponsur-add img{
    width: 12%;
}
.collection-title{
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}
.item-title{
    font-weight: 500;
    text-align: left;
}
.item-fee{
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.collection-section{
    margin: 100px 0 40px 0;
}
.collections{
    margin: 40px 7%;
    display: grid;
    grid-template-columns: repeat(3,30%);
    gap: 20px 3.33%;
}
.collection-item{
    padding: 10px;
    width: 100%;
    text-align: left;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.item-img{
    width: 100%;
}
.rating{
    width: 25%;
}

.item-discriotion{
    color: #787885;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 143%; 
}
.rate{
    font-size: 20px;
}
.featured-section{
    display: flex;
    margin: 20px 6%;
    align-items: center;
}
.featured-text{
    margin-left: 80px;
}
.featured-title{
    color: #0A0826;
    font-size: 38px;
    font-weight: 700;
}
footer{
    text-align: center;
    padding: 60px 0;
    background-color: #0A0826;
    color: white;
}
.footer-title{
    font-size: 24px;
    font-weight: 700;
}
.footer-text{
    color: #D9DBE1;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
}
footer img{
    height: 32px;
    margin: 5px;
}
@media screen and (max-width:992px) {
    nav li{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .collections{
        grid-template-columns: 95%;
        gap: 0;
    }
    .collection-item{
        margin-bottom: 20px;
    }
    .featured-section{
        flex-direction: column-reverse;
        margin: 20px 4%;
    }
    .featured-img{
        width: 100%;
    }
    .featured-text{
        margin:0 0 20px 0;
    }
}